@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*@keyframes fly2{
  
    to{
       
       transform:  translateX(calc(500px )) ;
         border:solid white;
         
       
    }
}*/



*{
    margin: 0px;
    padding: 0px;
}

:root{
 --cor0: #c5ebd6;
 --cor1: #83e1ad;
 --cor2: #3ddc84;
 --cor3: #2fa866;
 --cor4: #1a5c37;
 --cor5: #063d1e;

 --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
 --fonte-destaque: 'Bebas Neue',sans-serif;
 --fonte-android: 'android', sans-serif;
}
body{
   
    background-color: var(--cor0);
    font-family:var(--fonte-padrao) ;
}

a.externo::after{
    content:'\00A0\1F517';
}


header{
   

    padding-top: 40px;
    min-height: 150px;
    text-align: center;
    background: linear-gradient( to bottom, var(--cor3), var(--cor5));
    
}
header>h1{
  
 

    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
    font-size: 3em;
    padding-bottom: 20px;
    font-family: var(--fonte-destaque);
     color: white;
}
header > p{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    padding: 10px;
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}
nav>a{
    
    font-weight: bold;
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    transition-duration: .5s;
    transition-property: all;
  
}
nav > a:hover{
    
   
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor5);
   
}
main{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    padding: 20px;
    min-width: 320px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px; 
  
    border-radius:0px 0px 10px 10px;
}


main  h1{
  
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-android);
    color: var(--cor5);
}
main h2 {
    font-weight: normal;
    font-family: var(--fonte-android);
    color:var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main p{
     font-family:  var(--fonte-padrao);
   
  
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    margin: 2px;
}
main strong:hover{
    font-family: var(--fonte-android);
    color: var(--cor3);
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
    margin: 2px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
    border-radius: 10px;
}
main a:hover{
    color:var(--cor3);
    text-decoration: underline var(--cor5);

}
img.fly{
    border: solid var(--cor5);
    border-radius: 50%;
   max-height:50px;
    max-width:50px ;
    animation: fly2 2s alternate infinite;
    animation-timing-function: ease-in-out;
  
    padding-top: -40px;
    min-height: -150px;
}
main img{
    width: 100%;
}
main img.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px  -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position:relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.342);
}
aside > ul{
    list-style-position: inside;
    columns:2;
    list-style-type: '\2714\00A0\00A0';
   padding: 5px;
    
}
aside h3{
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8pem;
    padding: 5px;
    
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.247);
}
footer a:hover{
    color: var(--cor2);
    text-decoration:double ;
    
}

footer a:hover::after{
    content: '\00A0\1F517';
}